<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= article.title %></title>
    <link rel="icon" href="/media/PP.svg" />
    <meta name="description" content="<%=  article.description %>" />
    <meta name="author" content="<%=  article.author %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.css" />

  </head>
  <body itemscope itemtype="http://schema.org/Article">
    <%- include('partials/header') %>
    <div class="container">
      <header>
        <h1 class="entry-title" itemprop="headline"><%= article.title %></h1>
        <div class="summary text-muted" itemprop="description">
          <%= article.summary %>
        </div>
        <div class="dateline">
          by
          <span itemprop="author" itemscope itemtype="http://schema.org/Person"
            ><span itemprop="name"><%= article.name %></span></span
          >
        </div>
      </header>
      <p></p>
      <div class="entry-content" itemprop="articleBody">
        <%- article.htmlContent %>
      </div>
    </div>
   <%- include('partials/footer') %>
  </body>
</html>
